<div id="card" class="card">
    <h1 class="display-4 text-center">My Completed Activities</h1>
    <p class="text-muted text-center">
        See things you've already done!
    </p>
    <br />
    <br />
    <br />

    @if (ViewBag.UserCompleteds != null)
    {
        foreach (var completed in ViewBag.UserCompleteds)
        {
            <div class="clearfix mt-40">
                <div class="xsearch-items">
                    <div class="search-item">

                        <!--Displays images for the different entities-->
                        <div class="search-item-img">
                            @if (@completed.Type == "Alien")
                            {
                                <img src="~/Images/alien.png" alt="alien" height="60px" width="60px">
                            }
                            else if (@completed.Type == "Ghost")
                            {
                                <img src="~/Images/ghost.png" alt="ghost" height="60px" width="60px">
                            }
                            else if (@completed.Type == "Bigfoot")
                            {
                                <img src="~/Images/foot.png" alt="feet" height="60px" width="60px">
                            }
                        </div>

                        <div class="search-item-content">
                            <!--Displays Name-->
                            <h2 class="display-6" style="font-size: 25px">@completed.Name</h2>

                            <!--Displays Type, City, State, Ratings/Reviews-->
                            <div class="search-item-meta mb-15">
                                <ul class="list-inline">
                                    <li>@completed.Type - @completed.City, @completed.State</li>

                                </ul>
                            </div>

                            <!--Displays Description-->
                            <div>
                                @completed.Description

                            </div>
                            <br />
                            <div>
                                <form method="post" action="/UserCompleted/RemoveCompleted">
                                    <input type="hidden" name="formSightId" value="@completed.Id" />
                                    <input class="filter_btn" onclick="changeRemoveCompletedButton(`@completed.Id`)" type="submit" value="Remove from Completed Activities" id="filter_btn_@(completed.Id)" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

        }
    }

</div>


